* {
  margin: 0;

  box-sizing: border-box;
}

:root {
  --App-Color: #1e1e1e;
  --Color-span: ##ec722f;

  --Header-Color: #1e1e1e;
  --Color-Border-Btn: #03c22d;
  --Container-Padding: 80px 0;
  --Fuente: "Roboto";
  --Border-btn: #547a7f;
  --ColorBTN: #05131b;
  --Main-h1-color: #86fbe5;
  --Color-Hover: #041f29;

  --SegundaFuente: sans-serif;
  --Color-Span: #ff7a00;
  --Line-Border: #86fae5;
  --Color-Card: #141d2739;
  --Color-Border_NoHover: #253246;
  --Color-Blur: #06333b;
  --Backgroud-Color: #000913;
  --Border-Second-Section: #142d32;
  --Color-Span-Second: #86fae5;
  --Border-Input: #0f252b;
  --Backgroud-input: #01121c;
  --Color-btn: #faff00;
  --Color-Carousel: #1b2024;
}

body {
  font-family: var(--SegundaFuente);
  font-weight: 700;
  color: white;
}
a {
  font-size: 12px;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  overflow: hidden;
  padding: var(--Container-Padding);
}
.header {
  min-height: 100vh;
  background-color: var(--App-Color);
}
.header__btns {
  display: flex;
  width: 100%;
  max-width: 200px;
  gap: 10px;
  flex-direction: column;
}
.header-nav {
  background-color: var(--App-Color);
  display: flex;

  justify-content: space-between;
  align-items: center;
  --Container-Padding: 60px 0 45px;
}
.header__img {
  display: block;
}

.btn {
  text-decoration: none;
  color: #fff;
}
.btn__Primary {
  position: relative;
  margin-left: 70px;
  border: 1px solid var(--Color-Border-Btn);
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 400;
  box-shadow: 0 0 1px;
}

.btns-bottom {
  display: flex;
  width: 100%;

  max-width: 400px;
  padding-top: 18px;
}
.btn__Secundary {
  font-size: 14px;
}
.hero__Figure {
  width: 45%;
  max-width: 160px;
}

.header__img {
  width: 100%;
  display: bloc;
}
.h2 {
  text-align: center;
}

.header__span {
  color: var(--Color-Span);
}

.header__span:hover {
  color: #e3b78d;
}

.btn {
  font-weight: 400;
}

.header__main__video {
  margin: 20px 0;
}

.video {
  max-width: 600px;
  width: 100%;
  border: none;
}
.header__main__btn {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_header__main {
  display: flex;
  justify-content: center;

  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: 0 0 1px;
  font-size: 13px;
  color: white;
}

.btn__btn {
  margin-left: 10px;
}

.btn_header__main {
  font-family: var(--SegundaFuente) !important;
  background-color: var(--ColorBTN) !important;
  border: 1px solid var(--Border-btn);
}

.main {
  background-color: var(--App-Color);
  position: relative;
}
.main__img {
  width: 100%;
  max-width: 800px;
  position: relative;
  height: 509px;
  z-index: 0;
}

.section__texts {
  position: relative;

  z-index: 1;
}

.h1__main {
  width: 100%;
  text-align: center;
}

.span__main {
  color: var(--Main-h1-color);
}

.main__cards {
  position: absolute;
  z-index: 2;
}
.main__cards {
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card {
  position: relative;
  top: 180px;
  z-index: 3;
  border: 2px solid var(--Color-Border_NoHover);
  width: 100%;
  max-width: 430px;
  padding: 30px 50px;

  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--Color-Card);
  margin-bottom: 20px;
}

.Section__information {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100px;
}

.card:hover {
  /*background: var(--Color-Hover);*/
  box-shadow: inset 0 0 10px 5px var(--Color-Blur);
  border-color: var(--Line-Border);
  transform: translateY(-5px);
}
.OthersCards {
  display: inline-block;
}

.Section__Profecion {
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
}
.Section__Name {
  margin-top: 6px;
}

.section__Second {
  background-color: var(--Backgroud-Color);
  border: 2px solid var(--Border-Second-Section);
  position: relative;
  bottom: 8px;
  border-radius: 10px;
}

.Input {
  position: relative;
  z-index: 3;

  width: 400px !important;
  margin-bottom: 5px !important;
  border-color: var(--Border-Input);
  background-color: var(--Backgroud-input);
  color: white !important;
}

.Text__fields__both {
  display: flex;
  gap: 8px !important;
}

.both {
  width: 200px !important;
}

.Second_SPan {
  color: var(--Color-Span-Second);
}

.Second__Section__Title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.section__container__Second {
  --Container-Padding: 40px 0 45px;
}

.There__SPan {
  color: var(--Color-Span);
}

.Second_paragrah {
  font-size: 13px;
  text-align: center;
}

.parrafo {
  font-size: 12px;
  text-align: center;
}

.Second__Section__Paragrah {
  margin-bottom: 25px;
}

.btn-Field {
  width: 390px !important;
  padding: 10px !important;
  margin-top: 10px !important;
}
.Second__Section__Form {
  width: 100%;
}

.Section__Three {
  background-color: var(--Color-Carousel);
}

.carousel {
  background-color: red !important;
}

.img__Section__there {
  margin-left: 110px !important;
}

.span__livegood {
  color: var(--Color-Span);
}

.livegood_h1 {
  text-align: center;
  font-size: 30px;
}

.Section__three__data {
  margin-bottom: 30px;
}

.btn__three {
  background-color: var(--Color-Carousel);
}

.btn__section__three {
  margin-bottom: 30px;
}

.section__container__three {
  --Container-Padding: 50px 0 45px;
}

.Section__Three {
  position: relative;
  bottom: 30px;
}

.h1__footer {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.Header__main {
  --Container-Padding: 40px 0 25px;
}
